{% extends "base.html" %}
{% load static %}

{% block imports %}
<link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{% static 'css/add_gallery.css' %}">

{% endblock %}

{% block add_picture_link %}
active
{% endblock %}


{% block body %}
  <div class="container">
      <h1 style="text-align:center; font-size:5em;">Add A Picture</h1>
      <form class="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <br>
        <input type="text" class="form-control" name="caption" placeholder="Add A Catchy Caption!">
        <br>
        <input type="file" name="image" required id="file-input" accept="image/png, image/jpeg" onchange="preview()">
        <label for="file-input">
            <i class="fas fa-upload"></i> &nbsp; Choose Photo
        </label>
        <p id="num-of-files">No Files Chosen</p>
          <button type="submit" class=" form-control btn btn-primary" name="submit">Add Picture</button>
      </form>
      <br><br>
      <div id="images"></div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{% static 'js/add_gallery.js' %}"></script>
{% endblock %}
