{% extends "base.html" %}
{% load static %}
{% load galleries_tags %}
{% block galleries_link %}
active
{% endblock %}

{% block imports %}
<link rel="stylesheet" href="{% static "css/show_single_picture.css" %}">
{% endblock %}

{% block body %}
  <div class="content_container mt-5">
    <h1 class="mb-5 fw-bold fs-1" style="font-family:cursive; text-align:center;">Memories Of Us</h1>
    <section class="single_gallery min-vh-100">
         <div class="container-lg">
            <div class="row gy-4 row-cols-1 row-cols-sm-2 row-cols-md-3">
              {% for g in galleries %}
                  <div class="col">
                     <div class="card">
                        <img src="{{ thumbnails|indexmarker:forloop.counter0 }}" class="card-img-top gallery-item" alt="gallery" style="width:100% !important; height:auto;" alt="...">
                        <div class="card-body">
                         <h2 class="card-title">{{g.gallery_name}}</h2>
                         {% if g.gallery_message != "" %}
                           <p class="card-text">{{g.gallery_message}}</p>
                         {% else %}
                           <p class="card-text">No Caption.....</p>
                         {% endif %}
                         <a href="{% url 'show_gallery' g.id %}" class="btn btn-primary">Visit Gallery</a>
                        </div>
                     </div>
                 </div>
              {% endfor %}
            </div>
         </div>
      </section>

{% endblock %}
